<%- errorMessagesFor(periodicalmember) %>
<div class="control-group">
   <%- form.label("periodicalid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("periodicalid") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("userid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("userid") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("membertype", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("membertype") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("createdAt", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createdAt") %>
   </div>
</div>
