<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive') %>
        <%- javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application') %>
        <%- csrf_meta_tag() %>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="<%- path_to.root() %>"><%- get_periodic_settings.name %></a>
                    <ul class="nav">

                        <li><%-  link_to("Periodicals",path_to.periodicals())  %></li>
                        <li><%-  link_to("Volumes",path_to.volumes())  %></li>
                        <li><%-  link_to("Authors",path_to.users())  %></li>

                        <% 
                        if(!user_auth.loggedIn) { %>
                            <li><a href="/auth/twitter">Sign in with twitter</a></li>
                            <li><a href="/auth/facebook">Sign in with facebook</a></li>
                        <%} 
                        else {%>
                            <li><%-  link_to("Profile",path_to.users()+'/'+user_auth.data.id)  %></li>

                            <li><a href="/logout">logout (<%- user_auth.data.username %>) </a></li>
                        <% } 
                        %> 
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
            
            <%- body %>
            
            <hr />
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div>
    </body>
</html>