<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive') %>
        <%- javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application') %>
        <%- csrf_meta_tag() %>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="<%- path_to.root() %>"><%- get_periodic_settings.name %></a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><%-  link_to("Periodicals",path_to.periodicals())  %></li>
                            <li><%-  link_to("Volumes",path_to.volumes())  %></li>
                            <li><%-  link_to("Issues",path_to.posts())  %></li>
                            <li><%-  link_to("Authors",path_to.users())  %></li>
                        </ul>
                        <ul class="nav pull-right">
                            <% 
                            if(!user_auth.loggedIn) { %>
                                <li>
                                    <div class="btn-group">
                                        <a href="/login" class="btn btn-info">Login</a>
                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/login">Login</a></li>
                                            <li><a href="/auth/twitter">Sign in with twitter</a></li>
                                            <li><a href="/auth/facebook">Sign in with facebook</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/register" style="color:#fff"><strong class="label label-primary">Create a new account</strong></a></li>
                                        </ul>
                                    </div>
                                </li>
                            <%} 
                            else {%>
                                <li>
                                    <div class="btn-group">
                                        <% displayname = (user_auth.data.username) ? user_auth.data.username : "You"  %>
                                        <a href="<%- path_to.users()+'/'+user_auth.data.id %>" class="btn btn-info"><%- displayname %></a>
                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/settings">Settings</a></li>
                                            <li><a href="/connect/accounts">Accounts</a></li>
                                            <li><%-  link_to("Profile",path_to.users()+'/'+user_auth.data.id)  %></li>
                                            <li class="divider"></li>
                                            <li><a href="/logout">logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            <% } 
                            %> 

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
            
            <%- body %>
            
            <hr />
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div>
    </body>
</html>