<%- errorMessagesFor(post) %>
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("content", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("content") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("type", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("type") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("createdAt", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createdAt") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("source", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("source") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("originaldata", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("originaldata") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("originalid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("originalid") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("userid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("userid") %>
   </div>
</div>
