<% console.log(post[x].title) %>
<table class="table table-bordered">
    <tbody>
        <tr><th>title</th><td><%= locals.post.title %></td></tr>
        <tr><th>content</th><td><%- locals.post.content %></td></tr>
        <tr><th>type</th><td><%= locals.post.type %></td></tr>
        <tr><th>createdAt</th><td><%= locals.post.createdAt %></td></tr>
        <tr><th>source</th><td><%= locals.post.source %></td></tr>
        <tr><th>originaldata</th><td><%= locals.post.originaldata %></td></tr>
        <tr><th>originalid</th><td><%= locals.post.originalid %></td></tr>
        <tr><th>userid</th><td><%= locals.post.userid %></td></tr>    
    </tbody>
</table>

