<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("firstname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("firstname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("lastname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lastname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("username", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("username") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("password",{type:"password"}) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("passwordconfirm", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("passwordconfirm",{type:"password"}) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("createdAt", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createdAt") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("updatedAt", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("updatedAt") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("activated", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.checkbox("activated") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("accounttype", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("accounttype") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("description") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("image", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("image") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("image_https", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("image_https") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("twitterAccessToken", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("twitterAccessToken") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("twitterAccessTokenSecret", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("twitterAccessTokenSecret") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("twitterUsername", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("twitterUsername") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("twitterId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("twitterId") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("facebookAccessToken", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("facebookAccessToken") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("facebookAccessTokenSecret", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("facebookAccessTokenSecret") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("facebookUsername", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("facebookUsername") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("facebookId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("facebookId") %>
   </div>
</div>
