<%- errorMessagesFor(periodical) %>
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("description") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("public", false, {class: "control-label"}) %>
   <div class="controls">
       <select id="periodical_privacy" name="Periodical[public]" value=0>
          <option value=0>False</option>
          <option value=1>True</option>
       </select>
   </div>
</div>
