<% console.log(post.title) %>
<table class="table table-bordered">
    <tbody>
        <tr><th>title</th><td><%= post.title %></td></tr>
        <tr><th>content</th><td><%- post.content %></td></tr>
        <tr><th>type</th><td><%= post.type %></td></tr>
        <tr><th>createdAt</th><td><%= post.createdAt %></td></tr>
        <tr><th>source</th><td><%= post.source %></td></tr>
        <tr><th>originaldata</th><td><%= post.originaldata %></td></tr>
        <tr><th>originalid</th><td><%= post.originalid %></td></tr>
        <tr><th>userid</th><td><%= post.userid %></td></tr>    
    </tbody>
</table>

