<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("firstname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("firstname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("lastname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lastname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("username", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("username") %>
   </div>
</div>